#id-backg {
    text-align: center;
}

#id-bg {
    background-color: mediumpurple;
    border-radius: 27px;
}

#id-head1 {
    /* seleted the head1 id using # css selector */
    font-size: 45px;
    /* applies font size */
    color: rgb(122, 177, 153);
}

.heading1 {
    /* .  is used to select class selector and apply style in t. */
    text-align: center;
}

.underline-h1 {
    text-decoration: underline;
    /* used to add underline in the text */
}

#id-para2 {
    /* # this is used for id selector to select elements of id */
    color: rgb(255, 156, 7);
    /* rgb is used to apply color.
    rgb(12,15,47) this indicated red -12, green -15, blue- 47) */
}

/* this is how you comment in css */

#id-para3 {
    color: rgba(40, 255, 21, 0.705);
    /* this ine is used to define transoarancey wing the alpha value */
}